[project]
name = "teamster"
version = "0.1.0"
description = ""
authors = [
  { name = "Charlie Bini", email = "5003326+cbini@users.noreply.github.com" },
]
dependencies = [
  "dagster>=1.5.9",
  "dagster-cloud>=1.5.9",
  "dagster-dbt>=0.21.9",
  "dagster-gcp>=0.21.9",
  "dagster-k8s>=0.21.9",
  "dagster-ssh>=0.21.9",
  "dagster-fivetran>=0.21.9",
  "dagster-airbyte>=0.21.9",
  "dbt-bigquery>=1.7",
  "fastavro>=1.9.0",
  "cramjam>=2.7.0",
  "alchemer>=0.6.1",
  "gspread>=5.12.0",
  "oracledb>=1.4.2",
  "ldap3>=2.9.1",
  "pandas>=2.1.2",
  "beautifulsoup4>=4.12.2",
  "pycryptodome>=3.19.0",
  "tenacity>=8.2.3",
  "zenpy>=2.0.42",
]
requires-python = ">=3.11,<3.12"
license = { text = "GPL-3.0-or-later" }

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"

[tool]
[tool.pdm]
[tool.pdm.dev-dependencies]
dev = ["pytest>=7.4.3"]

[tool.pdm.scripts]
_.env_file = "env/.env"
clean = { shell = "bash .pdm/scripts/clean.sh", help = "Remove all build, test, coverage, and Python artifacts" }
test = { shell = "pytest --capture=no", help = "Run tests with the default Python" }
secrets = { shell = "bash .pdm/scripts/secrets.sh", help = "Update k8s secret for branch" }
install-dagster = { shell = "bash .pdm/scripts/install-dagster.sh", help = "Install Dagster Cloud via Helm" }
install-1password = { shell = "bash .pdm/scripts/install-1password.sh", help = "Install 1Password Connect via Helm" }
validate = { shell = "bash .pdm/scripts/validate.sh", help = "Validate Dagster imports and configs" }
stats = { shell = "python .dagster/stats/run-stats.py", help = "Generate run stats" }
fivetran-schema = { shell = "python .pdm/scripts/fivetran-schema.py" }
dbt = { shell = "bash .pdm/scripts/dbt.sh" }
dbt-sxs = { shell = "pdm run bash .pdm/scripts/dbt-stage-external-sources.sh" }

[tool.pyright]
venv = ".venv"
venvPath = "in-project"
reportOptionalMemberAccess = false
