assets:
  # not partitionable
  - asset_name: attendance_code
  - asset_name: attendance_conversion_items
  - asset_name: bell_schedule
  - asset_name: calendar_day
  - asset_name: cycle_day
  - asset_name: fte
  - asset_name: gen
  - asset_name: gpnode
  - asset_name: gpprogresssubject
  - asset_name: gpprogresssubjectearned
  - asset_name: gpprogresssubjectenrolled
  - asset_name: gpprogresssubjectrequested
  - asset_name: gpprogresssubjectwaived
  - asset_name: gpprogresssubjwaivedapplied
  - asset_name: gpselectedcrs
  - asset_name: gpselectedcrtype
  - asset_name: gpselector
  - asset_name: gptarget
  - asset_name: gpversion
  - asset_name: gradplan
  - asset_name: reenrollments
  - asset_name: spenrollments
  - asset_name: studenttest
  - asset_name: test
  - asset_name: testscore
  - asset_name: log
    select_columns:
      - dcid
      - studentid
      - logtypeid
      - entry
      - entry_date
  - asset_name: studenttestscore
    op_tags:
      dagster-k8s/config:
        container_config:
          resources:
            requests:
              cpu: 250m
            limits:
              cpu: 750m
