assets:
  - asset_name: attendance
  - asset_name: storedgrades
  - asset_name: pgfinalgrades
    op_tags:
      dagster-k8s/config:
        container_config:
          resources:
            requests:
              cpu: 500m
            limits:
              cpu: 1000m
