alert_policies:
  - name: slack-alert-failures
    description: An alert policy to send a Slack notification on job failure.
    event_types:
      - JOB_FAILURE
    notification_service:
      slack:
        slack_workspace_name: ${SLACK_WORKSPACE}
        slack_channel_name: ${SLACK_CHANNEL}
    enabled: true
