locations:
  - location_name: ${INSTANCE_NAME}-stg
    image: ${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT_ID}/${IMAGE_NAME}/${IMAGE_NAME}:latest
    working_directory: /root/app
    code_source:
      package_name: teamster.local
    container_context:
      docker:
        container_kwargs:
          volumes:
            ${PWD}/teamster/local:
              bind: /root/app/teamster/local
              mode: rw
        env_vars:
          - INSTANCE_NAME
          - IMAGE_NAME
          - GCP_PROJECT_ID
          - GOOGLE_APPLICATION_CREDENTIALS
          - POWERSCHOOL_HOST
          - POWERSCHOOL_CLIENT_ID
          - POWERSCHOOL_CLIENT_SECRET
          - POWERSCHOOL_YEAR_ID
