
# local - envsubst
INSTANCE_NAME=${INSTANCE_NAME}
IMAGE_NAME=teamster-${INSTANCE_NAME}
IMAGE_URI=${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT_ID}/teamster-${INSTANCE_NAME}/teamster-${INSTANCE_NAME}:latest
GCP_SERVICE_ACCOUNT=${GCP_SERVICE_ACCOUNT_NAME}@${GCP_PROJECT_ID}.iam.gserviceaccount.com

# local - required
LOCAL_TIME_ZONE=

# local - optional
GOOGLE_APPLICATION_CREDENTIALS=

MSSQL_USERNAME=
MSSQL_PASSWORD=
MSSQL_HOST=
MSSQL_PORT=
MSSQL_DATABASE=

PYTHONANYWHERE_SFTP_HOST=
PYTHONANYWHERE_SFTP_USERNAME=
PYTHONANYWHERE_SFTP_PASSWORD=

ILLUMINATE_SFTP_HOST=
ILLUMINATE_SFTP_USERNAME=
ILLUMINATE_SFTP_PASSWORD=

DEANSLIST_SFTP_HOST=
DEANSLIST_SFTP_USERNAME=
DEANSLIST_SFTP_PASSWORD=

CLEVER_SFTP_HOST=
CLEVER_SFTP_USERNAME=
CLEVER_SFTP_PASSWORD=

READ180_SFTP_HOST=
READ180_SFTP_USERNAME=
READ180_SFTP_PASSWORD=

RAZKIDS_SFTP_HOST=
RAZKIDS_SFTP_USERNAME=
RAZKIDS_SFTP_PASSWORD=

LITTLESIS_SFTP_HOST=
LITTLESIS_SFTP_USERNAME=
LITTLESIS_SFTP_PASSWORD=

BLISSBOOK_SFTP_HOST=
BLISSBOOK_SFTP_USERNAME=
BLISSBOOK_SFTP_PASSWORD=

COUPA_SFTP_HOST=
COUPA_SFTP_USERNAME=
COUPA_SFTP_PASSWORD=

EGENCIA_SFTP_HOST=
EGENCIA_SFTP_USERNAME=

KTAF_SFTP_HOST=
KTAF_SFTP_USERNAME=
KTAF_SFTP_PASSWORD=

POWERSCHOOL_HOST=
POWERSCHOOL_CLIENT_ID=
POWERSCHOOL_CLIENT_SECRET=
POWERSCHOOL_YEAR_ID=

POWERSCHOOL_HOST=
POWERSCHOOL_CLIENT_ID=
POWERSCHOOL_CLIENT_SECRET=
POWERSCHOOL_YEAR_ID=
