IMAGE_NAME=teamster-${INSTANCE_NAME}
IMAGE_URI=${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT_ID}/teamster-${INSTANCE_NAME}/teamster-${INSTANCE_NAME}:latest
GCP_SERVICE_ACCOUNT=${GCP_SERVICE_ACCOUNT_NAME}@${GCP_PROJECT_ID}.iam.gserviceaccount.com

DAGSTER_CLOUD_DEPLOYMENT=stg
