########################################################################################
# Dagster Cloud: Config for Dagster Cloud's hosted resources
########################################################################################
dagsterCloud:
  # Specify the Dagster Cloud deployments (e.g. dev, staging, prod) that the agent
  # should serve.
  deployments:
    - prod

  # Specify whether the agent should also serve branch deployments for your
  # organization.
  branchDeployments: true

  # Optionally customize the socket_options that are passed in to the underlying HTTP
  # connection pool used to send HTTP requests to Dagster Cloud.
  # See https://urllib3.readthedocs.io/en/stable/reference/urllib3.connection.html for
  # the expected format.
  # socketOptions should be a list of lists, where each inner list has three elements.
  # The list values can either be string name of socket attributes (like "IPPROTO_TCP")
  # or the integer value of that attribute.
  socketOptions:
    - [SOL_SOCKET, SO_KEEPALIVE, 1]
    - [IPPROTO_TCP, TCP_KEEPIDLE, 11]
    - [IPPROTO_TCP, TCP_KEEPINTVL, 7]
    - [IPPROTO_TCP, TCP_KEEPCNT, 5]

########################################################################################
# Dagster Cloud Agent: Configuration for the Dagster Cloud (User) Agent
########################################################################################
dagsterCloudAgent:
  resources:
    requests:
      cpu: 250m
      memory: 0.5Gi
    limits:
      cpu: 500m
      memory: 1.0Gi
  nodeSelector:
    cloud.google.com/compute-class: Balanced
    cloud.google.com/gke-spot: "true"
  podSecurityContext:
    runAsUser: 1001 # provided non-root user in image versions 0.14.0 and above
  # securityContext:
  #   runAsNonRoot: true
  #   allowPrivilegeEscalation: false

########################################################################################
# Workspace: Configuration for pods (launched by the agent) that run Dagster user code
########################################################################################
workspace:
  # Default compute resource requirements for the pods created by the agent. See:
  # https://kubernetes.io/docs/concepts/configuration/manage-resources-containers
  resources:
    requests:
      cpu: 250m
      memory: 0.5Gi
    limits:
      cpu: 750m
      memory: 1.0Gi

    # securityContext:
    #   runAsNonRoot: true
    #   allowPrivilegeEscalation: false

  # Raw k8s configuration for the Kubernetes Job and Pod created for each run. See:
  # https://docs.dagster.io/deployment/guides/kubernetes/customizing-your-deployment
  runK8sConfig:
    # Autopilot clusters enforce higher minimum values for the resource requests of
    # extended duration Pods: https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-resource-requests#workload-separation
    containerConfig:
      resources:
        requests:
          cpu: 250m
          memory: 0.5Gi
        limits:
          cpu: 750m
          memory: 2.5Gi
    podTemplateSpecMetadata: # raw config for the pod's metadata
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
    podSpecConfig:
      nodeSelector:
        cloud.google.com/compute-class: Scale-Out
        kubernetes.io/arch: arm64

  # Raw k8s configuration for the Kubernetes Deployment created for each code location.
  serverK8sConfig:
    containerConfig:
      resources:
        requests:
          cpu: 250m
          memory: 0.5Gi
        limits:
          cpu: 500m
          memory: 1.0Gi
    podTemplateSpecMetadata: # raw config for the pod's metadata
      annotations:
        operator.1password.io/auto-restart: "true"
    podSpecConfig:
      nodeSelector:
        cloud.google.com/gke-spot: "true"
        cloud.google.com/compute-class: Balanced

  # Specify TTL for user code servers.
  # By default full deployment servers do not have a TTL.
  # Branch deployments servers have a default TTL of 24 hours
  # The max code servers defaults to 25, and only applies to servers with TTL.
  serverTTL:
    fullDeployments:
      enabled: true
      ttlSeconds: 3600 # 1 hour
    branchDeployments:
      ttlSeconds: 300
