# https://github.com/dagster-io/dagster-cloud-hybrid-quickstart
# https://github.com/dagster-io/dagster-cloud-action
# https://docs.docker.com/build/ci/github-actions/multi-platform/#distribute-build-across-multiple-runners

# uses:
# https://github.com/actions/checkout
# https://github.com/actions/download-artifact
# https://github.com/actions/upload-artifact
# https://github.com/docker/build-push-action
# https://github.com/docker/metadata-action
# https://github.com/docker/setup-buildx-action
# https://github.com/google-github-actions/auth
# https://github.com/google-github-actions/setup-gcloud
# https://github.com/dagster-io/dagster-cloud-action/blob/main/actions/utils/ci-init/action.yml
# https://github.com/dagster-io/dagster-cloud-action/blob/main/actions/utils/dagster-cloud-cli/action.yml
# https://github.com/dagster-io/dagster-cloud-action/blob/main/actions/utils/prerun/action.yml

name: Dagster Cloud Hybrid Deployment

on:
  workflow_call:
    inputs:
      code-location:
        required: true
        type: string

concurrency:
  # Cancel in-progress deploys to the same branch
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  DAGSTER_PROJECT_DIR: .
  DAGSTER_CLOUD_ORGANIZATION: ${{ vars.DAGSTER_ORGANIZATION_ID }}
  DAGSTER_CLOUD_API_TOKEN: ${{ secrets.DAGSTER_CLOUD_AGENT_TOKEN }}
  REGISTRY_IMAGE:
    ${{ vars.GCP_REGION }}-docker.pkg.dev/${{ vars.GCP_PROJECT_ID
    }}/teamster/${{ inputs.code-location }}
  DAGSTER_CLOUD_YAML_PATH:
    src/teamster/code_locations/${{ inputs.code-location }}/dagster-cloud.yaml
  IMAGE_TAG: ${{ inputs.code-location }}-${{ github.sha }}-${{ github.run_id }}

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  prerun:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.prerun.outputs.result }}
    steps:
      # If this is a closed PR the prerun step closes the branch deployment and returns
      # output.result='skip' which is used to skip other steps in this workflow.
      - name: Pre-run checks
        id: prerun
        uses: dagster-io/dagster-cloud-action/actions/utils/prerun@main

  build:
    needs:
      - prerun
    if: needs.prerun.outputs.result != 'skip'
    strategy:
      fail-fast: false
      matrix:
        runner:
          - linux-amd64
          - linux-arm64
    runs-on: teamschools-${{ matrix.runner }}
    steps:
      - name: Prepare
        run: |
          runner=${{ matrix.runner }}
          echo "PLATFORM_PAIR=${runner//-//}" >> "${GITHUB_ENV}"

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ vars.GCP_PROJECT_ID }}
          workload_identity_provider: |
            projects/${{ vars.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github/providers/teamster

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: gcloud auth configure-docker
        run: gcloud auth configure-docker ${{ vars.GCP_REGION }}-docker.pkg.dev

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          cache-from: type=gha,scope=build-${{ matrix.runner }}
          cache-to: type=gha,mode=max,scope=build-${{ matrix.runner }}
          platforms: ${{ env.PLATFORM_PAIR }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            CODE_LOCATION=${{ inputs.code-location }}
          outputs: |
            type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v5
        with:
          name: digests-${{ matrix.runner }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs:
      - prerun
      - build
    if:
      needs.prerun.outputs.result != 'skip' && github.actor != 'dependabot[bot]'
    steps:
      - name: Download digests
        uses: actions/download-artifact@v6
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ vars.GCP_PROJECT_ID }}
          workload_identity_provider: |
            projects/${{ vars.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github/providers/teamster

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: gcloud auth configure-docker
        run: gcloud auth configure-docker ${{ vars.GCP_REGION }}-docker.pkg.dev

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create -t ${{ env.REGISTRY_IMAGE }}:${{ env.IMAGE_TAG }} $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ env.IMAGE_TAG }}

  deploy:
    runs-on: ubuntu-latest
    needs:
      - prerun
      - build
      - merge
    if: github.actor != 'dependabot[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        if: needs.prerun.outputs.result != 'skip'
        with:
          ref: ${{ github.head_ref }}

      # Validate dagster_cloud.yaml and the connection to dagster.cloud
      - name: Validate configuration
        id: ci-validate
        uses: dagster-io/dagster-cloud-action/actions/utils/dagster-cloud-cli@main
        if: needs.prerun.outputs.result != 'skip'
        with:
          command: |
            ci check --project-dir ${{ env.DAGSTER_PROJECT_DIR }} --dagster-cloud-yaml-path ${{ env.DAGSTER_CLOUD_YAML_PATH }}

      # Parse dagster_cloud.yaml, detect if this is branch deployment and initialize
      # the build session
      - name: Initialize build session
        id: ci-init
        uses: dagster-io/dagster-cloud-action/actions/utils/ci-init@main
        if: needs.prerun.outputs.result != 'skip'
        with:
          project_dir: ${{ env.DAGSTER_PROJECT_DIR }}
          dagster_cloud_yaml_path: ${{ env.DAGSTER_CLOUD_YAML_PATH }}
          # The full deployment name. If this run is for a PR,
          # this value is ignored and a branch deployment is used.
          deployment: prod

      - name: Update build session with image tag
        id: ci-set-build-output
        uses: dagster-io/dagster-cloud-action/actions/utils/dagster-cloud-cli@main
        if: needs.prerun.outputs.result != 'skip'
        with:
          command: |
            ci set-build-output --location-name=${{ inputs.code-location }} --image-tag=${{ env.IMAGE_TAG }}

      # Deploy all code locations in this build session to Dagster Cloud
      - name: Deploy to Dagster Cloud
        id: ci-deploy
        uses: dagster-io/dagster-cloud-action/actions/utils/dagster-cloud-cli@main
        if: needs.prerun.outputs.result != 'skip'
        with:
          command: ci deploy

      # Update a PR comment - this runs always() so the comment is updated on success
      # and failure
      - name: Update PR comment for branch deployments
        id: ci-notify
        uses: dagster-io/dagster-cloud-action/actions/utils/dagster-cloud-cli@main
        if: needs.prerun.outputs.result != 'skip' && always()
        with:
          command: ci notify --project-dir=${{ env.DAGSTER_PROJECT_DIR }}

      # Generate a summary that shows up on the Workflow Summary page
      - name: Generate a summary
        id: ci-summary
        uses: dagster-io/dagster-cloud-action/actions/utils/dagster-cloud-cli@main
        if: needs.prerun.outputs.result != 'skip' && always()
        with:
          command: ci status --output-format=markdown >> $GITHUB_STEP_SUMMARY
