name: kipptaf

on:
  workflow_dispatch: null
  push:
    branches:
      - main
    paths:
      - pdm.lock
      - .github/workflows/dagster-cloud-deploy.yaml
      - .github/workflows/deploy-prod-kipptaf.yaml
      - src/teamster/core/**
      - src/teamster/kipptaf/**
      - src/dbt/kipptaf/**
      - src/dbt/teamster_utils/**

jobs:
  dagster-cloud-deploy:
    uses: ./.github/workflows/dagster-cloud-deploy.yaml
    with:
      code-location: kipptaf
    secrets: inherit
