name: kipptaf

on:
  workflow_dispatch: null
  push:
    branches:
      - main
    paths:
      - .github/workflows/dagster-cloud-deploy.yaml
      - .github/workflows/deploy-prod-kipptaf.yaml
      - Dockerfile
      - requirements.txt
      - src/dbt/kipptaf/**
      - src/dbt/teamster_utils/**
      - src/teamster/code_locations/kipptaf/**
      - src/teamster/core/**
      - src/teamster/libraries/adp/**
      - src/teamster/libraries/airbyte/**
      - src/teamster/libraries/amplify/**
      - src/teamster/libraries/couchdrop/**
      - src/teamster/libraries/datagun/**
      - src/teamster/libraries/dbt/**
      - src/teamster/libraries/deanslist/schema.py
      - src/teamster/libraries/fivetran/**
      - src/teamster/libraries/google/**
      - src/teamster/libraries/ldap/**
      - src/teamster/libraries/overgrad/**
      - src/teamster/libraries/performance_management/**
      - src/teamster/libraries/powerschool/enrollment/**
      - src/teamster/libraries/schoolmint/**
      - src/teamster/libraries/smartrecruiters/**
      - src/teamster/libraries/ssh/**
      - src/teamster/libraries/tableau/**
  pull_request:
    paths:
      - src/teamster/code_locations/kipptaf/**
      - src/teamster/core/**
      - src/teamster/libraries/adp/**
      - src/teamster/libraries/airbyte/**
      - src/teamster/libraries/amplify/**
      - src/teamster/libraries/couchdrop/**
      - src/teamster/libraries/datagun/**
      - src/teamster/libraries/dbt/**
      - src/teamster/libraries/deanslist/schema.py
      - src/teamster/libraries/fivetran/**
      - src/teamster/libraries/google/**
      - src/teamster/libraries/ldap/**
      - src/teamster/libraries/overgrad/**
      - src/teamster/libraries/performance_management/**
      - src/teamster/libraries/powerschool/enrollment/**
      - src/teamster/libraries/schoolmint/**
      - src/teamster/libraries/smartrecruiters/**
      - src/teamster/libraries/ssh/**
      - src/teamster/libraries/tableau/**
    types:
      - opened
      - synchronize
      - reopened
      - closed

jobs:
  dagster-cloud-deploy:
    uses: ./.github/workflows/dagster-cloud-deploy.yaml
    with:
      code-location: kipptaf
    secrets: inherit
